<!DOCTYPE html>
<html>
<head>
	<title>Operation Result</title>
<<<<<<< HEAD
	<link rel="stylesheet" type="text/css" href="stylesheets\mail.css">
</head>
<body>
	<p class='title'>Shipping Cost</p>
	<p>The cost to ship <%= type %> that weights <%= weight %> oz. is $<%= result %></p>
=======
</head>
<body>
	<h1>Operation Result</h1>
	<p>The result of performing "<%= operation %>" on <%= left %> and <%= right %> is: <%= result %></p>
>>>>>>> 44008b2073938fb27835d61b0a227fe4a903a5d6
</body>
</html>
